*{
    margin:0px;
    padding:0px;
}


/* #body{ 
    width: 600px;
    min-height: 50px;
    background-color: red;
    overflow: hidden;
    border-radius: 5px;
    margin:6px;
} */

body{
    position: absolute;
    width:100%;
    min-height: 100hv;
    background: url(../src/img/366153.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: #F9F9F9;
    font-size: 70px;
    padding: 10px;
}

.principal-box{   /*aqui va el título*/
    min-height: 60px;
}

.titulo{
    height: 60px;
    background-color:rgb(44, 43, 38);
    opacity: 0.9;
    overflow: hidden;
   /* s */
}
#root{
    color: aliceblue;
    height: 60px;
}

.parrafo{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
    line-height: 0em;
}
.info-box{
    height: 0px;
    background-color: #171717;
    overflow: hidden;
    -webkit-transition: 0.2s;
}
.principal-box:hover .info-box{  /* al hacer hover sobre subapartado, aparecerá info-box */
    height: 180px; 
}

.info{
    padding: 10px 20px;
    color: #F9F9F9;
    line-height: 1.2em;
}
.bold{
    font-weight: bold;
}

.col-miniatura{
    padding-right: 0px;
    padding-left: 0px;
}
.circle {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
}

.circle img{
    height: auto;
    width: 100%;
    margin-left: -50px;
}


.poster{
    padding-top: 20px;
    height: 160px;
}

/* *, ::after, ::before {
    box-sizing: content-box;
} */