*{
    margin:0px;
    padding:0px;
}

body{
    position: absolute;
    width:100%;
    min-height: 100hv;
    background: url(../src/img/366153.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: #F9F9F9;
    font-size: 70px;
    padding: 10px;
}

.principal-box{   /* caja individual para cada película */
    min-height: 80px;
}
.principal-box:hover .info-box{  /* al hacer hover sobre el div principal, aparecerá info-box */
    height: 180px; 
}

.titulo{  /* estilos para el div con la miniatura y el titulo */
    height: 80px;
    background-color:rgb(44, 43, 38);
    opacity: 0.9;
    overflow: hidden;
}

.circle {   /* estilo para redondear el div contenedor de la miniatura */
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    padding: 0px;
    margin-top: 2px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
}

.circle img{
    height: auto;
    width: 100%;
}

.movie-title{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 0em;
}
.info-box{
    height: 0px;
    background-color: #171717;
    overflow: hidden;
    -webkit-transition: 0.2s;
}


.info{
    padding: 10px 20px;
    color: #F9F9F9;
    line-height: 1.2em;
}
.bold{
    font-weight: bold;
}

.poster{
    padding-top: 20px;
    height: 160px;
}

/* *, ::after, ::before {
    box-sizing: content-box;
} */

@media (min-width: 768px) {
    .movie-title{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin: 0;
        line-height: 0em;
    }
}